<% provide(:title, 'RoR') %>
<div class="row">
  <div class="col-md-12">
    <%= form_for @post do |f| %>

      <div class="field">
          <p>
            <%= f.label :title %>
            <%= f.text_field :title %>
          </p>
          <p>
            <%= f.label :content %>
            <%= f.text_area :content, autofocus: true %>
          </p>
      </div>

      <%= f.submit class: 'btn btn-primary'  %>
    <% end %>
  </div>
</div>
